/* -------- GENERAL -------- */

body {
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 30px;
}

label {
    font-weight: 500;
}

input[type="text"],
input[type="email"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* -------- CHECKBOX SECTION -------- */

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group input {
    margin-right: 8px;
}

/* -------- DROPDOWN STYLE -------- */

.dropdown {
    margin-bottom: 15px;
}

.dropdown button {
    width: 100%;
    padding: 10px;
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.dropdown button:hover {
    background-color: #333;
}

.dropdown-content {
    display: none;
    padding: 10px;
    background: #2a2a2a;
    border-radius: 6px;
    margin-top: 5px;
}

.dropdown-content input {
    margin-right: 6px;
}

.show {
    display: block;
}

/* -------- BUTTON -------- */

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background: #45a049;
}

/* -------- RESULT SECTION -------- */

.result-box {
    margin-top: 40px;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.safe {
    color: #4caf50;
    font-weight: bold;
    font-size: 18px;
    background-color: #e8f5e9;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
}
.medium {
    color: #ff6f00;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff3e0;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
}

.high {
    color: #d32f2f;
    font-weight: bold;
    font-size: 18px;
    background-color: #ffebee;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
}

.stats-panel {
    margin-top: 25px; /* space above stats section */
    padding-top: 15px 20px;
    background-color: #f4f6f8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats-panel p {
    margin:8px 0;
    font-weight: 500;
}
.stats-panel span {
    font-weight: bold;
    font-size: 16px;
}
